* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #48534a;
}
input {
    margin: 2px;
    border: none;
    border-radius: 3px;
}
input[type=text] {
    width: calc(100% - 4px);
    height: 40px;
    text-align: right;
}
input[type=button] {
    width: 100px;
    height: 50px;
    transition: ease 0.5s;
    cursor: pointer;
}
div#calculadora {
    box-shadow: 0 0 20px black;
}
div#calculadora div {
    display: flex;
}
div#calculadora div input:nth-child(4) {
    background: #b4b4b4;
}
div#linha4 input:nth-child(1) {
    background: #d45656;
}

div#linha4 input:nth-child(3) {
    background: #4467db;
}
input[type=button]:hover {
    filter: brightness(50%);
}
input[type=button]:active {
    transform: scale(0.9);
}